<!DOCTYPE>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>New Person</title>
</head>
<body>
    <h2>Adding a new Person</h2>
    <form th:method="POST" th:action="@{/people}" th:object="${person}">
        <label for="fullName">Full Name</label>
        <input id="fullName" th:type="text" th:field="*{fullName}"/>
        <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>
        <br>

        <label for="birthDate">Birth Date</label>
        <input id="birthDate" th:type="text" th:field="*{birthDate}"/>
        <div style="color:red" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
        <br>

        <input th:type="submit" value="Save!"/>
    </form>
</body>
</html>